src/flows/WORKSHOP_8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_employee_name</name>
        <label>add_employee_name</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>amplyee_name_collections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Employee_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_add_more_or_not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_add_more_or_not</name>
        <label>check add more or not</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>screen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_its_add_more_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_more</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen1</targetReference>
            </connector>
            <label>check if its add more or not</label>
        </rules>
    </decisions>
    <interviewLabel>WORKSHOP__8 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WORKSHOP__8</label>
    <loops>
        <name>loop_employee_to_filter_name</name>
        <label>loop_employee_to_filter_name</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <collectionReference>amplyee_name_collections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_filter_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_filter_collection</name>
        <label>loop filter collection</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <collectionReference>filter_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>screen5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SCREEN7</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>add_employee_name</targetReference>
        </connector>
        <fields>
            <name>Employee_Name</name>
            <dataType>String</dataType>
            <fieldText>Employee Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Add_more</name>
            <dataType>Boolean</dataType>
            <fieldText>Add more</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen4</name>
        <label>screen4</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_employee_to_filter_name</targetReference>
        </connector>
        <fields>
            <name>Display_All</name>
            <dataType>Boolean</dataType>
            <fieldText>Display All</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_the_Name_to_search</name>
            <dataType>String</dataType>
            <fieldText>Enter the Name to search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen5</name>
        <label>screen5</label>
        <locationX>440</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_filter_collection</targetReference>
        </connector>
        <fields>
            <name>filterasnwer</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Name:- {!loop_filter_collection}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN7</name>
        <label>SCREEN7</label>
        <locationX>352</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>last_msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 15, 15);&quot;&gt;THANK YOU&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screen1</startElementReference>
    <status>Draft</status>
    <variables>
        <name>amplyee_name_collections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_filter_collection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
