flows/FLOW_WROKSHOP_DAY_5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>div</name>
        <label>div</label>
        <locationX>1282</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>default_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>if_divide</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asnwer_header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>if_addition</name>
        <label>if addition</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>default_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asnwer_header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>if_mul</name>
        <label>if_mul</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>default_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mul_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asnwer_header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>if_sub</name>
        <label>if_sub</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>default_number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sub_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asnwer_header</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>add_radio</name>
        <choiceText>ADD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>div_radio</name>
        <choiceText>DIV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>multiply_radio</name>
        <choiceText>MUL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>sub_radio</name>
        <choiceText>SUB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_its_zero</name>
        <label>check its zero</label>
        <locationX>1128</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>div</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_its_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>value_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen2_footer</targetReference>
            </connector>
            <label>if its zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>589</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>check_its_zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>division</defaultConnectorLabel>
        <rules>
            <name>addition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_addition</targetReference>
            </connector>
            <label>addition</label>
        </rules>
        <rules>
            <name>subtraction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_sub</targetReference>
            </connector>
            <label>subtraction</label>
        </rules>
        <rules>
            <name>multiplication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_mul</targetReference>
            </connector>
            <label>multiplication</label>
        </rules>
    </decisions>
    <decisions>
        <name>to_start_again</name>
        <label>to start again..</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>asnwer_header</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_its_start_agian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wish_to_start_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_footer</targetReference>
            </connector>
            <label>if its start agian</label>
        </rules>
    </decisions>
    <formulas>
        <name>add_formula</name>
        <dataType>Number</dataType>
        <expression> {!value_1} + {!value_2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>if_divide</name>
        <dataType>Number</dataType>
        <expression>{!value_1} / {!value_2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mul_formula</name>
        <dataType>Number</dataType>
        <expression>{!value_1} * {!value_2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>sub_formula</name>
        <dataType>Number</dataType>
        <expression>{!value_2} - {!value_1}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FLOW WROKSHOP DAY-5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW WROKSHOP DAY-5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>asnwer_header</name>
        <label>asnwer header</label>
        <locationX>589</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_answer</name>
            <fieldText>&lt;p&gt;{!default_number}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2_footer</name>
        <label>screen2_footer</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>to_start_again</targetReference>
        </connector>
        <fields>
            <name>zero_means</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;can not divide by zero&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wish_to_start_again</name>
            <dataType>Boolean</dataType>
            <fieldText>wish to start again</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_footer</name>
        <label>screen_footer</label>
        <locationX>589</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
        <fields>
            <name>value_1</name>
            <dataType>Number</dataType>
            <fieldText>value 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>value_2</name>
            <dataType>Number</dataType>
            <fieldText>value 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>display_caption</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select operation to perform&lt;/span&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>radio_buttons</name>
            <choiceReferences>add_radio</choiceReferences>
            <choiceReferences>sub_radio</choiceReferences>
            <choiceReferences>multiply_radio</choiceReferences>
            <choiceReferences>div_radio</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>screen_footer</startElementReference>
    <status>Draft</status>
    <variables>
        <name>default_number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
