flows/FLOW_WORKSHOP_DAY_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignemnts</name>
        <label>assignemnts</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varT_acc_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_acctype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varT_acc_revenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_account_type_is_blank</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cosnt_others</name>
        <dataType>String</dataType>
        <value>
            <stringValue>others</stringValue>
        </value>
    </constants>
    <decisions>
        <name>is_account_type_is_blank</name>
        <label>is account type is blank..</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Dsiplay_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account not blanked</defaultConnectorLabel>
        <rules>
            <name>Account_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>display_screen_2</targetReference>
            </connector>
            <label>Account Blank</label>
        </rules>
    </decisions>
    <interviewLabel>FLOW_WORKSHOP_DAY_2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW_WORKSHOP_DAY_2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>display_screen_2</name>
        <label>display screen_2</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_message_if_blank</name>
            <fieldText>&lt;p&gt;name:{!varT_acc_name}&lt;/p&gt;&lt;p&gt;revenue:{!varT_acc_revenue}&lt;/p&gt;&lt;p&gt;type:{!cosnt_others}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dsiplay_Screen</name>
        <label>Dsiplay Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Message</name>
            <fieldText>&lt;p&gt;Name:{!varT_acc_name}&lt;/p&gt;&lt;p&gt;acc_revenue:{!varT_acc_revenue}&lt;/p&gt;&lt;p&gt;acc type:{!Account_type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>first_Screen</name>
        <label>first Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignemnts</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_type</name>
            <dataType>String</dataType>
            <fieldText>Account type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>account_Revenue</name>
            <dataType>Number</dataType>
            <fieldText>account Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>first_Screen</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varT_acc_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_acc_revenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varT_acctype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
