flows/FLOW_WORKSHOP_10_SIMPLE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assigment</name>
        <label>assigment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>create_record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>create_record.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>create_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>default_value_for_lead_rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_leads_to_be_Created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>number_of_leads</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>create_lead_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decision_to_create_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_leads_to_be_Created</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>number_of_leads</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen</targetReference>
            </connector>
            <label>decision to create lead</label>
        </rules>
    </decisions>
    <interviewLabel>FLOW WORKSHOP-10 SIMPLE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLOW WORKSHOP-10 SIMPLE</label>
    <loops>
        <name>loop_rec_id</name>
        <label>loop rec id</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <collectionReference>record_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>screen3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_lead_record</name>
        <label>create_lead_record</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>loop_rec_id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <inputReference>record_collection</inputReference>
    </recordCreates>
    <screens>
        <name>error_screen</name>
        <label>error_screen</label>
        <locationX>616</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_msg</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(244, 20, 20);&quot;&gt;plz contact admin to solve the problem&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(47, 45, 45);&quot;&gt;&lt;em&gt;&lt;/em&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen</name>
        <label>screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assigment</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_leads_to_be_Created</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>default_value_for_lead_rec</elementReference>
            </defaultValue>
            <fieldText>Number of leads to be Created</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>352</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_texy</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;THE RECORD CREATED&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>screen3</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_rec_id</targetReference>
        </connector>
        <fields>
            <name>display_ids_names</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;RECORD ID;- &lt;/strong&gt;{!loop_rec_id.Id}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;NAME :-&lt;/strong&gt;{!loop_rec_id.LastName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screen</startElementReference>
    <status>Draft</status>
    <variables>
        <name>create_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>default_value_for_lead_rec</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>number_of_leads</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
