flows/WORKSHOP_DAY_4_DIY.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>adding0_1</name>
        <label>adding0+1</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>first_its_zero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_pin_is_invalid</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Deposite</name>
        <choiceText>Deposite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Showbalance</name>
        <choiceText>Show balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>withdraw</name>
        <choiceText>withdraw</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <constants>
        <name>max3try</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Original_password</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12345.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>checking_amount_greate_than_or_less_than</name>
        <label>checking amount greate than or less than</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>insufficient_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>enter amount are than greater...</defaultConnectorLabel>
        <rules>
            <name>enter_amount_are_less_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enter_the_amount_to_withdraw</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>constant_value_5000</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acc_balance_screen</targetReference>
            </connector>
            <label>enter amount are less than..</label>
        </rules>
    </decisions>
    <decisions>
        <name>checking_deposite_or_withdraw_or_show_balance</name>
        <label>checking deposite or withdraw or show balance</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>show_balance_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if show balance</defaultConnectorLabel>
        <rules>
            <name>if_deposite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deposite</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Screen_Deposite</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deposite_footer</targetReference>
            </connector>
            <label>if deposite</label>
        </rules>
        <rules>
            <name>if_withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>withdraw</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Screen_Withdraw</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>withdraw_screen</targetReference>
            </connector>
            <label>if withdraw</label>
        </rules>
    </decisions>
    <decisions>
        <name>did_max_value</name>
        <label>did max value</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>screen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if didn&apos;t reach max value</defaultConnectorLabel>
        <rules>
            <name>if_it_reach_max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>max3try</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>first_its_zero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_invalid</targetReference>
            </connector>
            <label>if it reach max</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_pin_is_invalid</name>
        <label>is pin is invalid!!</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>did_max_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>pin is not equal</defaultConnectorLabel>
        <rules>
            <name>pin_is_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Password</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Original_password</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_WDSB</targetReference>
            </connector>
            <label>pin is equal</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_to_display_attempts</name>
        <dataType>String</dataType>
        <expression>&apos;you have&apos; + (TEXT({!max3try} - {!first_its_zero})) + &apos;attempts&apos;</expression>
    </formulas>
    <formulas>
        <name>result_deposite_value</name>
        <dataType>Number</dataType>
        <expression>{!entertheamounttodeposite} + {!constant_value_5000}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>result_withdraw_value</name>
        <dataType>Number</dataType>
        <expression>{!constant_value_5000} -  {!enter_the_amount_to_withdraw}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>WORKSHOP-DAY-4 DIY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WORKSHOP-DAY-4 DIY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>acc_balance_screen</name>
        <label>acc_balance_screen</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Acc_balance</name>
            <fieldText>&lt;p&gt;THE ACCOUNT BALANCE:{!result_withdraw_value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>deposite_balance_footer</name>
        <label>deposite_balance_footer</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>deposite_acc</name>
            <fieldText>&lt;p&gt;The account Balance is:{!result_deposite_value}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>deposite_footer</name>
        <label>deposite footer</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>deposite_balance_footer</targetReference>
        </connector>
        <fields>
            <name>entertheamounttodeposite</name>
            <dataType>Number</dataType>
            <fieldText>enter the amount to deposite</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>insufficient_screen</name>
        <label>insufficient_screen</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>insufficient_text</name>
            <fieldText>&lt;p&gt;Insufficient Balance&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>adding0_1</targetReference>
        </connector>
        <fields>
            <name>Password</name>
            <fieldText>Password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen4</name>
        <label>screen4</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <fields>
            <name>display_attempts</name>
            <fieldText>&lt;p&gt;{!formula_to_display_attempts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wishtocontinue_max3</name>
            <dataType>Boolean</dataType>
            <fieldText>wish to continue (max3)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_invalid</name>
        <label>screen_invalid</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;sorry,invalid pin&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_WDSB</name>
        <label>screen WDSB</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checking_deposite_or_withdraw_or_show_balance</targetReference>
        </connector>
        <fields>
            <name>Screen_Withdraw</name>
            <choiceReferences>withdraw</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Deposite</name>
            <choiceReferences>Deposite</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Show_Balance</name>
            <choiceReferences>Showbalance</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>show_balance_screen</name>
        <label>show_balance_screen</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>shw_balance</name>
            <fieldText>&lt;p&gt;Account Balance:{!constant_value_5000}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>withdraw_screen</name>
        <label>withdraw screen</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checking_amount_greate_than_or_less_than</targetReference>
        </connector>
        <fields>
            <name>enter_the_amount_to_withdraw</name>
            <dataType>Number</dataType>
            <fieldText>enter the amount to withdraw</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Screen</startElementReference>
    <status>Draft</status>
    <variables>
        <name>constant_value_5000</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>first_its_zero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
