flows/workshop_flowday4_second_try.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_one_to_the_number_of_three</name>
        <label>add one to the number of three</label>
        <locationX>292</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>first_its_zero</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkingpin</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>deposite</name>
        <choiceText>deposite</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>show_balance</name>
        <choiceText>Show Balance</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Withdraw</name>
        <choiceText>Withdraw</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>cosnt_pin</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12345.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>checking_its_max_value</name>
        <label>checking its max value</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if  didn&apos;t reach max value</defaultConnectorLabel>
        <rules>
            <name>if_its_reach_max_value_three</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>number_of_three</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>first_its_zero</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen3</targetReference>
            </connector>
            <label>if its reach max value three</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkingpin</name>
        <label>checking pin</label>
        <locationX>292</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>checking_its_max_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>pin is wrong</defaultConnectorLabel>
        <rules>
            <name>pin_is_crt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>password</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cosnt_pin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_4</targetReference>
            </connector>
            <label>pin is crt</label>
        </rules>
    </decisions>
    <decisions>
        <name>show_balance_or_withdraw_or_deposite</name>
        <label>show balance or withdraw or deposite</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>screen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_show_balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>show_balance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>opp_showbalance</elementReference>
                </rightValue>
            </conditions>
            <label>if show balance</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulatodisplaynumberofattempts</name>
        <dataType>String</dataType>
        <expression>&apos;you have&apos; + (TEXT({!number_of_three}-{!first_its_zero})) + &apos;more Attempt left&apos;</expression>
    </formulas>
    <interviewLabel>workshop_flowday4_second_try {!$Flow.CurrentDateTime}</interviewLabel>
    <label>workshop_flowday4_second_try</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>292</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>add_one_to_the_number_of_three</targetReference>
        </connector>
        <fields>
            <name>password</name>
            <fieldText>password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
        <fields>
            <name>fromula</name>
            <fieldText>&lt;p&gt;{!formulatodisplaynumberofattempts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wish_to_continue_max_3</name>
            <dataType>Boolean</dataType>
            <fieldText>wish to continue(max 3)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>screen3</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>invalid_pin</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;sorry,invalid pin&lt;strong style=&quot;color: rgb(247, 53, 14);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen4</name>
        <label>screen4</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>enter_the_amount_to_deposite</name>
            <dataType>Number</dataType>
            <fieldText>enter the amount to deposite</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Enter_the_amount_to_withdraw</name>
            <dataType>Number</dataType>
            <fieldText>Enter the amount to withdraw</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_4</name>
        <label>screen_4</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>show_balance_or_withdraw_or_deposite</targetReference>
        </connector>
        <fields>
            <name>salect_option</name>
            <fieldText>&lt;p&gt;select your option&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>opp_withdraw</name>
            <choiceReferences>Withdraw</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>opp_deposite</name>
            <choiceReferences>deposite</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>opp_showbalance</name>
            <choiceReferences>show_balance</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screen1</startElementReference>
    <status>Draft</status>
    <variables>
        <name>first_its_zero</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>number_of_three</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
</Flow>
