flows/WORKSHOP_DIY10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>add_to_show_no_acc</name>
        <label>add to show no acc</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>to_show_no_acc</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addtomatchdecision</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>record_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>record_assignment</name>
        <label>record assignment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>getsingleaccrecord.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getsingleaccrecord.Rating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rating_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getsingleaccrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>screen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>to_match_acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addtomatchdecision</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Acocunt_to_be_created</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen1</targetReference>
            </connector>
            <label>to match acc</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>acc_filter_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rating_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>WORKSHOP_DIY10 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WORKSHOP_DIY10</label>
    <loops>
        <name>loop_the_filter_recordsd</name>
        <label>loop the filter recordsd</label>
        <locationX>352</locationX>
        <locationY>878</locationY>
        <collectionReference>filter_the_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>screen5</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>add_to_show_no_acc</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rating</name>
            <choiceReferences>rating_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Acocunt_to_be_created</name>
            <dataType>Number</dataType>
            <fieldText>Number of Acocunt to be created</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen4</name>
        <label>screen4</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>filter_the_record</targetReference>
        </connector>
        <fields>
            <name>select_rating_to_filter_acc</name>
            <choiceReferences>acc_filter_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>select rating to filter acc</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen5</name>
        <label>screen5</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_the_filter_recordsd</targetReference>
        </connector>
        <fields>
            <name>display_text</name>
            <fieldText>&lt;p&gt;Name:{!currentItem_filter_the_record.Name}&lt;/p&gt;&lt;p&gt;Rating :{!currentItem_filter_the_record.Rating}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screen1</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Account_record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>addtomatchdecision</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_filter_the_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>getsingleaccrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>to_show_no_acc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
